---
# Only the main Sass file needs front matter (the dashes are enough)
title: css
---
@charset "utf-8";

/////fonts/////
$font-body:  "Operator SSm A", "Operator SSm B", Helvetica, Arial, monospace;
$font-display: "Knockout 30 A", "Knockout 30 B", Helvetica, sans-serif;
$font-link: "Operator SSm A", "Operator SSm B", Helvetica, Arial, monospace;
$font-body-size: 14px;
$font-display-size: 18px;
$heading-size: 24pt;
$small-font-size:  10px;
$small-line-height:16px;
$body-line-height: 24px;
$font-display-line-height: 22px;
$spacing-unit: 40px;

/////colors/////
$link-color:#CC4455;
$body-color: #000;
$background-color: #FFF;
$nav-color: rgba(0,0,0,0.6);
$black-color: #2B2B2B;
$grey-color: #4A4A4A;

//width of the content area
$content-width: 800px;

/////media query sizes/////
$on-palm: 600px;
$on-laptop: 800px;
$slim: 1100px;
$small-desktop: 1300px;
$narrow: 1500px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

//self-hosted-fonts//

@font-face {
    font-family: 'Karbon';
    src: url('../fonts/KarbonLight.woff') format('woff');
    font-style: normal;
}

// import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "typography",
        "anim",
        "syntax-highlighting"
;
