---
layout: default
title: "olsen.works essays"
---
<div class="home">
    <div class="wrapper">
        <h1 class="page-title">Essays</h1>
        <p class="page-description">You'll find a collection of essays I've written here. Most tackle the subjects of writing or philosophy, though I may stray from those trails. I hope you enjoy.</p>
        <ul class="post-list">
              {% if site.categories.essay == null %}
              {%include 404.html %}
              {% else %}
              {% for post in site.posts %}
              {% if post.categories contains 'essay'%}
              <div class="post-module">
                 <h3 class="post-title-link"><a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                  <p class="post-abstract">{{ post.abstract | truncatewords: 100 }}</p>
                  <a class="continue-link" href="{{ post.url | prepend: site.baseurl }}">Read</a>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
        </ul>
     </div>
   </div>
