---
layout: page
title: Fiction
permalink: /fiction/
info: You'll find a collection of my fictional work here. The works are primarily short in length. I do not intend to publish any novel-length content on this site, but perhaps one day I will. For now, I'll hope you enjoy these shorter works.
---
<div class="home">
  <div class="wrapper">
              <ul class="post-list">
              {% if site.categories.fiction == null %}
              {%include 404.html %}
              {% else %}
              {% for post in site.posts %}
              {% if post.categories contains 'fiction'%}
              <div class="post-module">
                 <h3 class="post-title-link"><a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                  <p class="post-excerpt">{{ post.excerpt | truncatewords: 100 }}</p>
                  <a class="continue-link" href="{{ post.url | prepend: site.baseurl }}">Read</a>
              </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            </ul>
      </div>
</div>