---
layout: default
title: "home"
hero: true
---
<div class="home">
        {% for page in site.pages %}
	{% if page.render contains 'project' %}
	<div class="hero-wrapper">
                <h1 class="post-title-hero"><a  href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h3>
		<p class="hero-description">{{ page.abstract }}</p>
		<a class="continue-link-hero" href="{{ page.url | prepend: site.baseurl }}">Explore</a>
        </div>
	{%endif%}
	{%endfor%}
	<div class="wrapper">
		<h1 class="page-title">Welcome</h1>
  	<p class="page-description">This is the personal site of Scott Christopher Olsen. I post essays and scribblings on a variety of topics that interest me, particularly in the areas of philosophy and literature. You can contact me at <a href="mailto:scg.olsen@gmail.com?subject=Hello, Scott">scg.olsen@gmail.com</a>.</p>
		<ul class="post-list">
		{% for post in site.posts %}
		{% if post.render contains 'normal' and post.language == 'en' %}
		<div class="post-module">
	                 <h3 class="post-title-link"><a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
	                  <p class="post-abstract">{{ post.abstract | truncatewords: 100 }}</p>
	                  <a class="continue-link" href="{{ post.url | prepend: site.baseurl }}">Read</a>
	                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
	              </div>
		{%endif%}
		{% endfor %}
		</ul>
	</div>
</div>
