---
layout: default
title: "home"
---
<div class="home">
	<!--<div class="hero-wrapper">
	{% for post in site.posts %}
	{% if post.render contains 'project' %}
		<h3 class="post-title-hero"><a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
		<p class="hero-description">{{ post.abstract }}</p>
		<a class="continue-link-hero" href="{{ post.url | prepend: site.baseurl }}">Explore</a>
	{%endif%}
	{%endfor%}
	</div>-->
	<div class="wrapper">
		<h1 class="page-title">Welcome</h1>
  	<p class="page-description">This is the personal site of Scott Olsen. You'll find a collection of some of my written work on this site. I'm happy you stopped by and hope you get some enjoyment out of my essays or fictions. You can access the most recently posted content below.</p>
		<ul class="post-list">
		{% for post in site.posts %}
		{% if post.render contains 'normal'  %}
		<div class="post-module">
	                 <h3 class="post-title-link"><a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
	                  <p class="post-abstract">{{ post.abstract | truncatewords: 100 }}</p>
	                  <a class="continue-link" href="{{ post.url | prepend: site.baseurl }}">Read</a>
	                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
	              </div>
		{%endif%}
		{% endfor %}
		</ul>
	</div>
</div>