---
layout: default
title: "olsen.works notes"
---
<div class="home">
        <div class="wrapper">
              <h1 class="page-title">Dispatch</h1>
              <p class="page-description">This page contains dispatches. Dispatches are (usually) shorter, casual thoughts or observations on a particular topic or text: a blog in miniature. I hope they support your own thinking and examinations. Let me know.</p>
                      {% if site.categories.note == null %}
                      {%include 404.html %}
                      {% else %}
                      <ul class="post-list">
                      {% for post in site.posts %}
                      {% if post.categories contains 'note'%}
                      <div class="post-module">
                            <h3 class="post-title-link"><a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                            <p class="post-abstract">{{ post.abstract | truncatewords: 100 }}</p>
                            <a class="continue-link" href="{{ post.url | prepend: site.baseurl }}">Read</a>
                            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                      </div>
                      {% endif %}
                      {% endfor %}
                      </ul>
                      {% endif %}
      </div>
</div>
