---
layout: page
title: Notes
permalink: /notes/
info: This page contains notes. Notes are shorter, often casual, thoughts or observations on a particular topic or text. They may be a good source of momentary reflection. I hope they generate interest and support your own thinking and examinations. Let me know.
---
<div class="home">
        <div class="wrapper">
                      {% if site.categories.note == null %}
                      {%include 404.html %}
                      {% else %}
                      <ul class="post-list">
                      {% for post in site.posts %}
                      {% if post.categories contains 'note'%}
                      <div class="post-module">
                            <h3 class="post-title-link"><a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                            <p class="post-excerpt">{{ post.excerpt | truncatewords: 100 }}</p>
                            <a class="continue-link" href="{{ post.url | prepend: site.baseurl }}">Read</a>
                      </div>
                      {% endif %}
                      {% endfor %}
                      </ul>
                      {% endif %}
      </div>
</div>