---
layout: default
---

<div class="home">
  <h1 class="page-title">Other</h1>
  <ul class="post-list">
    {% if site.categories.other == null %}
    {%include 404.html %}
    {% else %}
    {% for post in site.posts %}
      {% if post.categories contains 'other'%}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
         <p>{{ post.ex | truncatewords: 200 }}</p>
         <a class="continue" href="{{ post.url | prepend: site.baseurl }}">Continue Reading</a>
         <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
</div>