<header id="site-header" class="site-header">
    <div class="site-info">
        <a class="site-title" href="{{ site.baseurl }}/">olsen.works</a>
        <a class="email-link" href="mailto:scg.olsen@gmail.com">contact</a>
        <p class="site-description">{{ site.description }}</p>
        <p class="current-page-indicator">Currently Viewing: {{ page.title }}</p>
    </div>
    <!--{% if page.title != "Home" %}
    <div class="nav-info-container">
        <nav class="site-nav">
            {% for item in site.pages %}
              {% if page.url != item.url and item.title != "About" and item.title != "Work With Me" and item.title != "css" and item.title != "feed" %}
            <a class="page-link" href="{{ item.url | prepend: site.baseurl }}"> {{ item.title }}</a>
              {% endif %}
            {% endfor %}
        </nav>
   </div>
    {% endif %}-->
</header>
