/////reset/////
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/////animations/////

//////basic styling/////

/////images/////

/////figures/////

/////lists/////

/////headings/////

/////links/////

/////blockquotes/////

/////code formatting/////

/////wrappers/////

/////clearfix/////
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/////icons/////
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $grey-color;
        }
    }
}
