/**
 * Site header
 */
.site-header {
    padding-top:12px;
    padding-bottom:10px;
    border-bottom: 1px solid #1B1B1B;
    border-top: 4px solid #FF786d;
    //max-height: 40px;
    //padding-bottom:10px;
    background-color:$background-color;

    // Positioning context for the mobile navigation icon
    position: relative;
    //box-shadow: 0px 5px 3px #888888;
    /* Line: */
    width:100%;
}

.nav-wrapper{
    text-align: center;
    //background-color:#FFFFFF;
    //border-right: 1px solid #334;
    //border-left: 1px solid #334;
    border-bottom: 1px solid #334;
}

.navigation{
    position:relative;
    text-align:center;
}

.site-title {
    padding-top:10px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color:#FF786D;
    //width:100%;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    font-weight: 400;
    //font-family: 'microgramma com';
    //border-bottom: 1px solid #333;

    &,
    &:visited {
        color: #FF786D;
    }
    &:hover {
        color: #0C090A;
    }
}

.contact{
    width:100%;
    float:left;
    margin-top:0;
    line-height:18px;
}

.contact-link {
    //font-family: 'Bembo Infant MT Std';
    line-height: 18px;
    font-size:12px;
    color:#000;
}

.site-nav {
    float: right;
    margin-left:168px;
    margin-right:auto;
    line-height: 26px;
    padding-top:10px;
    //margin-top:20px;
    font-size:12px;
    //font-family: 'Bembo Infant MT Std';

    

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: 26px;
        font-size:12px;
        text-align:center;


        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 82px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        width:auto;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            text-align:right;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid #334;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

 .page-title {
    //font-family: 'microgramma com';
    font-size:18px;
 }

 .recent-page-title {
    //font-family: 'microgramma com';
    font-size:18px;
    border-bottom: 1px solid #979797;
    margin-top:40px;
 }


.page-content {
    //padding: $spacing-unit 0;
    margin-top:20px;
    //position:relative;
}

.page-heading {
    font-size: 20px;
    border-bottom: 1px solid #334;
    padding:5px;
    color:#334;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit + 20;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    //margin-left: 20px;
    float:right;
}

.post-link {
    //display: block;
    //font-family: 'microgramma com';
    font-size: 14px;
    margin-bottom:4px;
    line-height: 2.4;
}

.post-list h2 {
    margin-bottom:0px;
    line-height:.5;
}


.page-link{
    font-size: 14px;
}


/**
 * Posts
 */

.post .post-meta{
    float: right;
    //font-family: 'Microgramma com';
    font-size: 18px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
    color:#454444;
    //font-family: 'Microgramma com', sans-serif;
    margin-top:60px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-content p{

width:78%;
}

.post-content blockquote {

    float:right;
    font-size:11px;
    width:20%;
    margin-left:40px;
    text-align:left;
    clear:both;
    font-weight: bold;

    @include media-query($on-palm) {
        width:80%;
        float:left;
        margin-left:0;
        margin-bottom:10px;
    }

}

.post-list p{

width:100%;
}

.post-list blockquote {

    float:right;
    font-size:9px;
    width:20%;
    margin-left:40px;
    text-align:left;
    clear:both;
    font-weight: bold;
    overflow:hidden;
    display:none;

}

.post-list li {

    //overflow:hidden;
}
