
p {
  font-family: $font-body;
  font-size: $font-body-size;
  line-height: $body-line-height;
  font-weight: 300;
}


a {
  font-family: $font-link;
  font-size: $font-body-size;
}

blockquote p {
  font-size: $small-font-size;
  font-family: $font-display;
  line-height: $small-line-height;
  color: $link-color;
}

figcaption {
  font-size: $small-font-size;
  font-family: $font-body;
}

////headings////

h1 {
  font-family: $font-display;
  font-size: 16px;
  line-height: 40px;
  font-weight:500;
  margin-bottom: $spacing-unit;
  //font-style: italic;
  //text-align: center;
  //letter-spacing: 0.1em;
}

h2 {
  font-family: Karbon;
  font-size: $font-body-size;
  color: $grey-color;
}

h4 {
  font-family: $font-link;
  letter-spacing: 0.4em;
  color: $grey-color;
  font-size: 14px;
  font-weight: 500;
  display: none;
}

////class-specific////

.site-header {
  font-size: 16px;
}

.site-title {
  font-family: $font-link; 
  font-weight: 500;
  font-size:$font-body-size;
  line-height: $small-line-height;
}

.current-page-indicator {
  font-weight: 500;
  font-family: $font-link;
  font-size: $small-font-size;
  display:none;
}

.info-content {
  font-size: $small-font-size;
  line-height: $small-line-height;
  font-weight: 400;
  display:none;
}

.email-link {
  font-weight: 400;
  font-family: $font-link;
  font-size: $font-body-size;
  line-height: $small-line-height;
}

.post-content p {
  margin-bottom: 14px;
}

.mobile-menu-button {
  font-family: $font-link;
  font-size:$font-body-size;
  text-decoration: underline;
}

.post-author p{
  font-family: $font-link;
  font-size: $small-font-size;
}

.site-footer a {
  font-size: $small-font-size;
}

.page-title {
  font-size: 14px;
  font-family: $font-link;
  font-weight:300;
  opacity: 1;
  margin-bottom: 10px;
}

.site-description {
  font-size: $small-font-size;
  font-family:$font-body;
  font-weight:300;
  opacity: 1;
  margin-top: 4px;
}


.info-content-link {
  font-size: $small-font-size;
  line-height: $small-line-height + 14px;
  font-weight: 500;
  font-family: $font-body;
}

.post-title-link {
  font-family:$font-link;
  font-size: $small-font-size;
  line-height: $small-line-height;
}

.critique-prelude {
  font-size:24px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  display:none;
}

.critique-work {
  text-align: center;
  font-family: "Chronicle Hairline Cond A", "Chronicle Hairline Cond B", serif;
  display:none;
}

.quotation {
  color:$link-color;
}

.datum {
  font-family: $font-link;
  font-size: $small-font-size;
  width:100%;
  margin-bottom:14px;
}

.page-link {
  font-size: $small-font-size;
  line-height: $small-line-height;
}


.post-notes {
  font-size: $small-font-size;
  font-family: $font-display;
  line-height: $small-line-height;
  margin-bottom:$spacing-unit;
  //color: $link-color;
}
