<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-03-19-parapet-for-the-pauper.md</string>
		</array>
		<array>
			<string>2016-04-01-on-the-inadequecy-of-free-knowledge.md</string>
		</array>
		<array>
			<string>2016-08-16-imitating-beckett.md</string>
		</array>
		<array>
			<string>2016-08-17-built-from-the-outside-carpenter's-gotheric-and-american-disillusionment.md</string>
		</array>
		<array>
			<string>2016-03-19-three-conditions-for-a-definition-of-science.md</string>
		</array>
		<array>
			<string>2016-05-05-form-and-counterform.md</string>
		</array>
		<array>
			<string>2016-04-01-update.md</string>
		</array>
		<array>
			<string>2016-03-26-kenya-hara-white-note.md</string>
		</array>
		<array>
			<string>2016-05-26-Cinders.md</string>
		</array>
		<array>
			<string>2016-05-26-the-bluff.md</string>
		</array>
	</array>
</dict>
</plist>
